.footer {
  background-color: #f2a2f1;
  padding: 4rem 0;
}

.footer-container {
  width: 83%;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
}

.footer-about {
  flex: 2;
}

.footer-links,
.footer-contact {
  flex: 1;
}

.footer-logo {
  max-width: 160px;
}

.footer-text {
  margin: 1.25rem 0;
  line-height: 1.6;
}

.footer-copy {
  font-size: 0.9rem;
  font-weight: 900;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.footer-links p,
.footer-contact p {
  margin-bottom: 1.25rem;
}

@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    margin-top: 2rem;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.25rem;
  text-decoration: none;
  color: #5e0000;
  font-weight: 500;
}

.footer-social svg {
  font-size: 1.2rem;
}

.footer-social:hover {
  color: white;
}

.footer-name {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.footer-role {
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 1.25rem;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.footer-contact-item svg {
  font-size: 1.1rem;
}

.footer-center {
  text-align: center;
}